# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
yarn.lock
package-lock.json


# next.js
/.next/

# typescript
next-env.d.ts
